<div class="editorial">
  <table summary="Testing responsive tables">
    <caption>This is a table the way the Drupal WYSIWYG does it.</caption>
    <thead>
      <tr>
        <th scope="col">one</th>
        <th scope="col">two</th>
        <th scope="col">three</th>
        <th scope="col">four</th>
        <th scope="col">five</th>
        <th scope="col">six</th>
        <th scope="col">seven</th>
        <th scope="col">eight</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</td>
        <td>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</td>
        <td>Maecenas faucibus mollis interdum.</td>
        <td>Sed posuere consectetur est at lobortis.</td>
        <td>Sed posuere consectetur est at lobortis.</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
        <td>Cras mattis consectetur purus sit amet fermentum.</td>
        <td>Vestibulum id ligula porta felis euismod semper.</td>
      </tr>
      <tr>
        <td>Aenean lacinia bibendum nulla sed consectetur.</td>
        <td>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</td>
        <td>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</td>
        <td>Maecenas faucibus mollis interdum.</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
        <td>Cras mattis consectetur purus sit amet fermentum.</td>
        <td>Vestibulum id ligula porta felis euismod semper.</td>
        <td>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</td>
      </tr>
      <tr>
        <td>Sed posuere consectetur est at lobortis.</td>
        <td>Aenean lacinia bibendum nulla sed consectetur.</td>
        <td>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</td>
        <td>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</td>
        <td>Cras mattis consectetur purus sit amet fermentum.</td>
        <td>Vestibulum id ligula porta felis euismod semper.</td>
        <td>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</td>
        <td>Sed posuere consectetur est at lobortis.</td>
      </tr>
      <tr>
        <td>Vestibulum id ligula porta felis euismod semper.</td>
        <td>Sed posuere consectetur est at lobortis.</td>
        <td>Aenean lacinia bibendum nulla sed consectetur.</td>
        <td>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</td>
        <td>Vestibulum id ligula porta felis euismod semper.</td>
        <td>Maecenas faucibus mollis interdum.</td>
        <td>Sed posuere consectetur est at lobortis.</td>
        <td>Vestibulum id ligula porta felis euismod semper.</td>
      </tr>
      <tr>
        <td>Sed posuere consectetur est at lobortis.</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
        <td>Cras mattis consectetur purus sit amet fermentum.</td>
        <td>Vestibulum id ligula porta felis euismod semper.</td>
        <td>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</td>
        <td>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</td>
        <td>Maecenas faucibus mollis interdum.</td>
        <td>Sed posuere consectetur est at lobortis.</td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
        <td>Cras mattis consectetur purus sit amet fermentum.</td>
        <td>Vestibulum id ligula porta felis euismod semper.</td>
        <td>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</td>
        <td>Aenean lacinia bibendum nulla sed consectetur.</td>
        <td>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</td>
        <td>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</td>
        <td>Maecenas faucibus mollis interdum.</td>
      </tr>
      <tr>
        <td>Cras mattis consectetur purus sit amet fermentum.</td>
        <td>Vestibulum id ligula porta felis euismod semper.</td>
        <td>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</td>
        <td>Sed posuere consectetur est at lobortis.</td>
        <td>Sed posuere consectetur est at lobortis.Vestibulum id ligula porta felis euismod semper.</td>
        <td>Aenean lacinia bibendum nulla sed consectetur.</td>
        <td>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</td>
        <td>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</td>
      </tr>
    </tbody>
  </table>
</div>