{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  {% embed '@fractal/breadcrumb.twig' %}
    {% block breadcrumb_list %}
      <ol class="font-sans">
        <li class="inline"><a href="/" aria-label="Home"><span class="fa fa-home"></span><span class="sr-only">Home</span></a></li>
      {% for item in breadcrumb %}        
        {% if not loop.first %}
        <li class="inline">
          {% if item.url %}
            <a href="{{ item.url }}">{{ item.text }}</a>
          {% else %}
            {{ item.text }}
          {% endif %}
        </li>
        {% endif %}    
      {% endfor %}
      </ol>
    {% endblock %}
  {% endembed %}
{% endif %}
