<div class="feature-video mx-auto relative">
  <a class="block" href="https://youtu.be/0yM4MSU4eI0" target="_blank" tabindex="-1">
    <div>
      <img class="block" typeof="foaf:Image" src="https://www.pomona.edu/sites/default/files/styles/home_page_slide/public/images/paragraphs/webtourscreenshot.jpg?itok=CauwHH8b" alt="Cecil Banner" draggable="false" width="1300" height="669">
    </div>
    <div class="absolute inset-0">
      <video autoplay="autoplay" loop="loop" muted="muted" playsinline="playsinline" aria-label="[no audio] scenes from the campus tour video">
        <source src="https://www.pomona.edu/sites/default/files/slideshow-video/webpagetour_0.mp4" type="video/mp4">
      </video>
    </div>
  </a>
  <button class="absolute text-lg hover:bg-yellow text-gray-900 p-10 bg-white bottom-0 right-0 shadow-lg rounded-lg mr-20 mb-20" class="play_pause" aria-label="Pause/Play background video"><span class="fas fa-pause"></span><span class="label sr-only">Pause</span></button>
</div>
