<div class="flex" id="enhanced-classroom-filters" style="margin-bottom: 20px;">
  <div class="flex-1/2">
    <label class="block" for="building-selector">Building: </label>
    <select id="building-selector">
      <option value="">- all -</option>
      <option value="alexander">Alexander</option>
      <option value="brackettobservatory">Brackett Observatory</option>
      <option value="bridgeshallofmusic">Bridges Hall of Music</option>
      <option value="carnegie">Carnegie</option>
      <option value="cowartits">Cowart ITS</option>
      <option value="crookshank">Crookshank</option>
      <option value="drapercenter">Draper Center</option>
      <option value="edmunds">Edmunds</option>
      <option value="frankdininghall">Frank Dining Hall</option>
      <option value="frarydininghall">Frary Dining Hall</option>
      <option value="hahn">Hahn</option>
      <option value="lebus">Lebus</option>
      <option value="lincoln">Lincoln</option>
      <option value="mason">Mason</option>
      <option value="oldenborg">Oldenborg</option>
      <option value="pearsons">Pearsons</option>
      <option value="pendletonbusinessoffice">Pendleton Business Office</option>
      <option value="pendletondance">Pendleton Dance</option>
      <option value="rains">Rains</option>
      <option value="seaverbio">Seaver Bio</option>
      <option value="seavercommons">Seaver Commons</option>
      <option value="seavernorth">Seaver North</option>
      <option value="seaversouth">Seaver South</option>
      <option value="seavertheater">Seaver Theater</option>
      <option value="seeleygmudd">Seeley G Mudd</option>
      <option value="smithcampuscenter">Smith Campus Center</option>
      <option value="studioart">Studio Art</option>
      <option value="thatchermusic">Thatcher Music</option>
      <option value="waltoncommons">Walton Commons</option>
    </select>
    <label class="block mt-10" for="capacity-selector">Capacity: </label>
    <select id="capacity-selector">
      <option value="">- all -</option>
      <option value="smallroom">Small Room (1-50)</option>
      <option value="mediumroom">Medium Room (51-100)</option>
      <option value="largeroom">Large Room (100+)</option>
    </select>
    <label class="block mt-10" for="display-selector">Display: </label>
    <select id="display-selector">
      <option value="">- all -</option>
      <option value="capable">Capable</option>
      <option value="projector">Projector</option>
      <option value="tv">TV</option>
    </select>
    <label class="block mt-10" for="computer-selector">Computer: </label>
    <select id="computer-selector">
      <option value="">- all -</option>
      <option value="dualbootmacpc">Dual Boot Mac/PC</option>
      <option value="pc">PC</option>
      <option value="yes">Yes</option>
    </select>
    <label class="block mt-10" for="laptopconnection-selector">Laptop Connection: </label>
    <select id="laptopconnection-selector">
      <option value="">- all -</option>
      <option value="capable">Capable</option>
      <option value="yes">Yes</option>
    </select>
  </div>
  <div class="flex-1/2">
    <label class="block" for="dvdvcr-selector">DVD/VCR: </label>
    <select id="dvdvcr-selector">
      <option value="">- all -</option>
      <option value="yes">Yes</option>
    </select>
    <label class="block mt-10" for="bluray-selector">Bluray: </label>
    <select class="block" id="bluray-selector">
      <option value="">- all -</option>
      <option value="yes">Yes</option>
    </select>
    <label class="block mt-10" for="doccam-selector">Doc Cam: </label><select id="doccam-selector">
      <option value="">- all -</option>
      <option value="capable">Capable</option>
      <option value="yes">Yes</option>
    </select>
    <label class="block mt-10" for="miccapable-selector">Mic Capable: </label><select id="miccapable-selector">
      <option value="">- all -</option>
      <option value="yes">Yes</option>
    </select>
    <label class="block mt-10" for="roomtype-selector">Room Type: </label><select id="roomtype-selector">
      <option value="">- all -</option>
      <option value="computerlab">Computer Lab</option>
      <option value="conferenceroom">Conference Room</option>
      <option value="projectroom">Project Room</option>
    </select>
  </div>
</div>