<form class="flex p-5 h-40 bg-green" action="/search" method="get" id="search-block-form" accept-charset="UTF-8">
  <label for="search-query" class="visually-hidden">Search</label>
  <input class="leading-none p-5 w-full focus-on" title="Enter the terms you wish to search for." type="search" id="search-query" name="query" value="" size="15" maxlength="128" class="form-search">
  <button type="submit" value="Search"><span class="sr-only">Search</span></button>
</form>
