<div class="c-container">
<h2 class="italic text-orange font-serif font-bold text-3xl mb-20">Awards and Honors</h2>
<div class="editorial editorial-main">
  <p>
    Modern Language Association<br />
    Honorable Mention for the Aldo and Jeanne Scaglione Prize for French and Francophone Studies, for Albert Cohen, Dissonant Voices 2005
  </p>
</div>
</div>
