<div class="flex">
  <div class="pr-20 w-30"><span class="{{ iconClasses }} fas {{ icon|default('fa-chevron-right') }}"></span></div>
  <div class="flex-grow">
    {% block icon_block_content %}
      <div class="editorial editorial-sans">
        <p>Amet do in ad dolore ex consequat velit anim reprehenderit cupidatat consequat do nostrud. Irure dolore laboris fugiat aute do aute sunt ad. Nulla tempor nulla Lorem dolor nisi quis anim labore exercitation.</p>
        <p>Id do cillum dolor elit veniam laborum non culpa. Aliquip ex eu in enim non est nulla tempor est eu. Cupidatat esse enim consequat Lorem esse cupidatat veniam. Aliquip anim esse exercitation cupidatat pariatur. Excepteur qui et occaecat irure cillum occaecat occaecat cillum occaecat labore. Eiusmod eiusmod anim aliquip culpa elit.</p>
        <p>Nulla nulla aliqua est aliquip aliquip veniam incididunt consequat ut. Elit reprehenderit occaecat enim laborum commodo exercitation ex tempor veniam minim. Ullamco dolore velit ea do eiusmod pariatur laboris. Exercitation sint tempor cupidatat qui ullamco adipisicing commodo. In commodo veniam duis laboris exercitation fugiat ad est id.</p>
      </div>
    {% endblock %}
  </div>
</div>