<article class="testimonial" aria-label="testimonial quotes">
  <h2>{{ bs }}</h2>
  <q>{{ sentence }}</q>
  <div class="meta">
    <cite>{{ name_informal }}</cite>
    <a class="btn btn-cyan btn-more" href="http://www.example.com">Support Pomona College</a>
  </div>
</article>