// media queries

// layout
$width-page: 1150px;
$width-sidebar-first: 20%;
$width-sidebar-second: 23.914%;
$width-tablet-sidebar-first: 33.333%;
$width-tablet-sidebar-second: 18%;

$header-height: 105px;

$tablet: 768px;
$desktop: $width-page + 42px;


