{% for item in items %}
  <a class="btn btn-cyan md:whitespace-no-wrap btn-uppercase inline-block" href="{{ item.content['#url'] }}">{{ item.content['#title'] }}  <span class="text-yellow ml-4 fas fa-chevron-right"></span></a>
{% endfor %}