<h2 class="italic text-orange font-serif font-bold text-3xl mb-20">Awards & Honors</h2>
{% for item in items %}
  <div{{ item.attributes.addClass(['editorial','editorial-main', 'mb-20']) }}>{{ item.content }}</div>
{% endfor %}
