{% for item in items %}
  <div class="grid-item mb-20 md:my-10 md:px-10 md:w-1/2 flex items-stretch">
    {{ item.content }}
  </div>
  {# Grid items should be three across at the widest breakpoint, but only if the
  grid component is not in the with-sidebar component #}
  <script>
  (function() {
    var el = document.querySelector('.grid-item');
    var parEl = el;
    while (!parEl.classList.contains('with-sidebar-main') && parEl.tagName !== 'BODY') {
      parEl = parEl.parentElement;
    }
    if (!parEl.classList.contains('with-sidebar-main')) {
      el.classList.add('lg:w-1/3 ');
    }
  })();
  </script>
{% endfor %}

