<div class="pagination">
  <h3 class="sr-only">Pagination</h3>
  <div class="md:flex justify-between items-center">
    <div class="bg-white font-serif text-center md:text-left p-10">
      Showing 1 - 10 of 284 {{ type|default('Stories') }}
    </div>
    <div class="mt-20 md:mt-0 mx-auto">
      <ul class="pager">
        <li class="pager-current first">1</li>
        <li class="pager-item"><a title="Go to page 2" href="http://www.example.com">2</a></li>
        <li class="pager-item"><a title="Go to page 3" href="http://www.example.com">3</a></li>
        <li class="pager-ellipsis">…</li>
        <li class="pager-next"><a href="http://www.example.com">next</a></li>
        <li class="pager-last last"><a title="Go to last page" href="http://www.example.com">last</a></li>
      </ul>
    </div>
  </div>
</div>
