.bg-quote {
  background: url('../images/bkg-quote-open.png') scroll no-repeat left 27px,
    url('../images/bkg-quote-close.png') scroll no-repeat calc(100% - #{(100/16)}rem) bottom;
  padding-left: #{(100/16)}rem;
  padding-right: #{(50/16)}rem;
  padding-bottom: #{(50/16)}rem;
  min-height: #{(200/16)}rem;
}

.quote__image {
  width: #{(175/16)}rem;
  height: #{(175/16)}rem;
}
