<div class="text-white p-20 lg:p-40 lg:ml-50 md:-mt-175 xl:ml-85 w-full relative text-2xl font-serif bg-blue editorial editorial-main">
  {% block content_sidebar %}
  <h1 class="text-4xl lg:text-6xl">Driven Students</h1>
  <p>We seek the brightest, most talented, most driven students from all over the world.</p>
  <p class="my-20 lg:my-40"><a class="btn btn-lg btn-cyan btn-more btn-uppercase">Why Pomona?</a></p>
  <ul class="bullets bullets-yellow my-20 text-xl">
    <li><a class="ln ln-white" href="http://www.example.com">Apply</a></li>
    <li><a class="ln ln-white" href="http://www.example.com">Connect and Visit</a></li>
    <li><a class="ln ln-white" href="http://www.example.com">Request Information</a></li>
  </ul>
  <p class="italic font-bold text-3xl leading-tight">Pomona students come from</p>
  <p class="leading-tight"><a class="font-sans text-4xl ln ln-white-alt" href="http://www.example.com">59 countries and 50 states</a></p>
  <p class="text-2xl">based on permanent residency</p>
  {% endblock %}
</div>
