<div class="group-bio-information field-group-div">
    <h3>Bio Information</h3>
    <div class="group-bio-left field-group-div">
        {{ content.field_details }}
    </div>
    <div class="group-bio-right field-group-div">
        {{ content.field_caption }}
        {{ content.field_media }}
    </div>
</div>