<div class="inset-events border-b-1 border-brown-100 pb-20">
  <h3 class="border-{{ raw_accent_color }} font-sans text-xl border-b-3 pb-10 mb-15">{{ raw_title }}</h3>
  <p>Event Lists TK</p>  
</div>


