<div class="inset-twitter border-b-1 border-brown-100 pb-20">
    <h3 class="border-{{ raw_accent_color }} font-sans text-xl border-b-3 pb-10 mb-15">{{ raw_title }}</h3>
    <a class="twitter-timeline" data-width="320" data-height="465" href="https://twitter.com/{{ raw_twitter }}?ref_src=twsrc%5Etfw">Tweets by {{ raw_twitter }}</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>