<div class="twitter-inset">
  <a 
    class="twitter-timeline" 
    data-tweet-limit={{ tweet_limit|default(3) }}
    href="https://twitter.com/pomonacollege?ref_src=twsrc%5Etfw">Tweets by {{ handle|default('pomonacollege' )}}</a> 
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>