<div class="editorial font-sans mb-20 clearfix text-base md:text-lg md:flex">
  <div class="float-right ml-20 w-1/3 md:w-auto md:float-none md:flex-none md:ml-0">
    {% include '@picture' with { width: 145, height: 200 } %}
  </div>
  <div class="text-brown-300 md:mx-40 w-full leading-loose">
    <a href="http://www.example.com/">Susan McWilliams Barndt</a><br />
    Professor of Politics; Chair of Politics<br />
    <span class="fas fa-map-marker-alt text-orange"></span> <a href="http://www.example.com/">Carnegie Building</a> 21<br />
    <a href="mailto:susan.mcwilliams@pomona.edu">susan.mcwilliams@pomona.edu</a>
  </div>
  <div class="whitespace-no-wrap mt-10 md:mt-0">
    <a href="tel:5555555555">(555) 555-5555</a>
  </div>
</div>