
<div class="paragraphs-items paragraphs-items-field-headlines-with-images paragraphs-items-field-headlines-with-images-full paragraphs-items-full">
  <div class="field field-name-field-headlines-with-images field-type-paragraphs field-label-hidden quickedit-processed quickedit-field" data-quickedit-field-id="node/67591/field_headlines_with_images/und/full">
  {% for i in 0..3 %}
    {% include '@sagehen-report-img' %}
  {% endfor %}
  </div>
</div>
