<table class="row email-header" role="presentation" style="background-color: #20438f; border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
  <tbody>
    <tr style="padding: 0; text-align: left; vertical-align: top;">

      <th class="small-12 large-6 columns first" style="Margin: 0 auto; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 100%; margin: 0 auto; padding: 0; padding-bottom: 0; padding-left: 30px; padding-right: 15px; text-align: left; width: 345px;">
        <table role="presentation" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
          <tbody>
            <tr style="padding: 0; text-align: left; vertical-align: top;">
              <th style="Margin: 0; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 100%; margin: 0; padding: 0; text-align: left;">
                {% block logo %}
                  <a href="http://www.pomona.edu/?utm_source=internal_newsletter&amp;utm_medium=email&amp;utm_campaign=Pomona%20Internal%20Newsletter" style="Margin: 0; color: #20438f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 150%; margin: 0; padding: 0; text-align: left; text-decoration: none; border: none;"><img class="pom-small-logo" src="https://www.pomona.edu/sites/default/files/mailchimp-pomona-logo-400.png" alt="Pomona College" width="200" border="0" style="-ms-interpolation-mode: bicubic; clear: both; display: inline-block; width: 100%; height: auto; max-width: 200px; outline: none; text-decoration: none;"></a>
                {% endblock %}
              </th>
              <th class="expander" style="Margin: 0; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 150%; margin: 0; padding: 0 !important; text-align: left; visibility: hidden; width: 0;"></th>
            </tr>
          </tbody>
        </table>
      </th>

      <th class="small-12 large-6 columns last" style="Margin: 0 auto; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 150%; margin: 0 auto; padding: 0; padding-bottom: 0; padding-left: 15px; padding-right: 30px; text-align: left; vertical-align: bottom; width: 345px;">
        <table role="presentation" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
          <tbody>
            <tr style="padding: 0; text-align: left; vertical-align: top;">
              <th style="Margin: 0; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 150%; margin: 0; padding: 0; text-align: left;">
                <h1 class="text-right small-text-left" style="Margin: 0; Margin-bottom: 15px; color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-size: 24px; font-weight: normal; line-height: 100%; margin: 0; margin-bottom: 15px; padding: 0; text-align: right; word-wrap: normal;">The Sagehen Report</h1>
              </th>
              <th class="expander" style="Margin: 0; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 150%; margin: 0; padding: 0 !important; text-align: left; visibility: hidden; width: 0;"></th>
            </tr>
          </tbody>
        </table>
      </th>
      
    </tr>
  </tbody>
</table>

{% include '@sagehen-spacer' with { height: '20px' } only %}

<table class="row" role="presentation" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
  <tbody>
    <tr style="padding: 0; text-align: left; vertical-align: top;">

      <th class="small-6 large-6 columns first" style="Margin: 0 auto; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 150%; margin: 0 auto; padding: 0; padding-bottom: 16px; padding-left: 30px; padding-right: 15px; text-align: left; width: 345px;">
        <table role="presentation" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
          <tbody>
            <tr style="padding: 0; text-align: left; vertical-align: top;">
              <th style="Margin: 0; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 150%; margin: 0; padding: 0; text-align: left;">
                {% include '@sagehen-section-head' with { title: "Headlines" } only %}
              </th>
            </tr>
          </tbody>
        </table>
      </th>

      <th class="small-6 large-6 columns last" style="Margin: 0 auto; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 150%; margin: 0 auto; padding: 0; padding-bottom: 16px; padding-left: 15px; padding-right: 30px; text-align: left; width: 345px;">
        <table role="presentation" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
          <tbody>
            <tr style="padding: 0; text-align: left; vertical-align: top;">
              <th style="Margin: 0; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 150%; margin: 0; padding: 0; text-align: left;">
                <p class="text-right" style="Margin: 0; Margin-bottom: 10px; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 150%; margin: 0; margin-bottom: 10px; padding: 0; text-align: right;">
                  {% block publish_date %}
                    <span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2019-10-31T00:00:00-07:00">October 31, 2019</span>
                  {% endblock %}
                </p>
              </th>
            </tr>
          </tbody>
        </table>
      </th>

    </tr>
  </tbody>
</table>