<div class="page-alert bg-green text-white text-xl p-20 font-bold">
  {% block page_alert %}
    <p>ATTENTION: Join us for a live, online webinar for those with last-minute application questions on Friday, Dec. 27, 2-3 p.m. PST </p>
    <p><a href="http://www.example.com">Learn More</a></p>
  {% endblock %}
</div>
