<div class="sidebar-contact mt-20">
  <div class="text-2xl font-sans uppercase">Contact Us</div>
  <div class="sidebar-contact__details">
    <a href="https://www.pomona.edu/map/?id=523#!m/54431" class="sidebar-contact__location"><span>Cowart Building</span></a><br>
    <a href="mailto:servicedesk@pomona.edu">servicedesk@pomona.edu</a><br>
    <a href="tel:(909) 621-8061">(909) 621-8061</a>
  </div>
  <div class="sidebar-contact__social">
    {% include '@social-media' with { accounts: accounts } %}
  </div>
</div>