<div class="people-directory-page md:c-container-lg">
  <div id="directory">
    <div class="directory-form-wrapper bg-admissions-block w-full h-200 md:h-150">
      <form class="directory-form w-full h-full flex flex-col justify-center pl-25 lg:pl-75 pr-25">
        <div class="flex flex-col flex-wrap md:flex-row md:flex-no-wrap">
          <div class="input-wrapper first-name-wrapper flex md:flex-row md:flex-no-wrap mb-20 md:mb-0">
            <label class="text-lg text-white pt-6 mr-15">First Name</label>
            <input class="first-name w-200 md:w-250 lg:w-300 md:mr-30" placeholder="Search by first name here." type="search" title="Enter the first name of your directory search here.">
          </div>
          <div class="input-wrapper last-name-wrapper flex md:flex-row md:flex-no-wrap">
            <label class="text-lg text-white pt-6 mr-15">Last Name</label>
            <input class="last-name w-200 md:w-250 lg:w-300 md:mr-30" placeholder="Search by last name here." type="search" title="Enter the last name of your directory search here.">
          </div>
          <button class="btn btn-green btn-search" type="submit" value="Search">
        </div>
        <div class="flex flex-col flex-wrap md:flex-row md:flex-no-wrap mt-20">
          <div class="types-wrapper flex md:flex-row md:flex-no-wrap">
            <label class="text-lg text-white mr-40">Show:</label> 
            <span class="mr-40" role="group" aria-labelledby="faculty-staff-checkbox">
              <input class="faculty" type="checkbox" title="Search for faculty &amp; staff.">
              <label class="text-lg text-white" id="faculty-staff-checkbox">Faculty &amp; Staff</label>
            </span> 
            <span role="group" aria-labelledby="students-checkbox">
              <input class="students" type="checkbox" title="Search for students.">
              <label class="text-lg text-white" id="students-checkbox">Students</label>
            </span>
          </div>
        </div>
      </form>
    </div>
    <div class="directory-wrapper md:c-container mt-75" style="display: none;">
      <div class="letter flex flex-row flex-wrap border-t-6 border-orange-100 mx-auto pb-40" data-letter="#"><h2 class="overlap font-serif leading-none inline-block p-10 text-4xl text-white italic">#</h2><div class="people flex flex-row flex-wrap"></div></div>
      <div class="letter flex flex-row flex-wrap border-t-6 border-orange-100 mx-auto pb-40" data-letter="A"><h2 class="overlap font-serif leading-none inline-block p-10 text-4xl text-white italic">A</h2><div class="people flex flex-row flex-wrap"></div></div>
      <div class="letter flex flex-row flex-wrap border-t-6 border-orange-100 mx-auto pb-40" data-letter="B"><h2 class="overlap font-serif leading-none inline-block p-10 text-4xl text-white italic">B</h2><div class="people flex flex-row flex-wrap"></div></div>
      <div class="letter flex flex-row flex-wrap border-t-6 border-orange-100 mx-auto pb-40" data-letter="C"><h2 class="overlap font-serif leading-none inline-block p-10 text-4xl text-white italic">C</h2><div class="people flex flex-row flex-wrap"></div></div>
      <div class="letter flex flex-row flex-wrap border-t-6 border-orange-100 mx-auto pb-40" data-letter="D"><h2 class="overlap font-serif leading-none inline-block p-10 text-4xl text-white italic">D</h2><div class="people flex flex-row flex-wrap"></div></div>
      <div class="letter flex flex-row flex-wrap border-t-6 border-orange-100 mx-auto pb-40" data-letter="E"><h2 class="overlap font-serif leading-none inline-block p-10 text-4xl text-white italic">E</h2><div class="people flex flex-row flex-wrap"></div></div>
      <div class="letter flex flex-row flex-wrap border-t-6 border-orange-100 mx-auto pb-40" data-letter="F"><h2 class="overlap font-serif leading-none inline-block p-10 text-4xl text-white italic">F</h2><div class="people flex flex-row flex-wrap"></div></div>
      <div class="letter flex flex-row flex-wrap border-t-6 border-orange-100 mx-auto pb-40" data-letter="G"><h2 class="overlap font-serif leading-none inline-block p-10 text-4xl text-white italic">G</h2><div class="people flex flex-row flex-wrap"></div></div>
      <div class="letter flex flex-row flex-wrap border-t-6 border-orange-100 mx-auto pb-40" data-letter="H"><h2 class="overlap font-serif leading-none inline-block p-10 text-4xl text-white italic">H</h2><div class="people flex flex-row flex-wrap"></div></div>
      <div class="letter flex flex-row flex-wrap border-t-6 border-orange-100 mx-auto pb-40" data-letter="I"><h2 class="overlap font-serif leading-none inline-block p-10 text-4xl text-white italic">I</h2><div class="people flex flex-row flex-wrap"></div></div>
      <div class="letter flex flex-row flex-wrap border-t-6 border-orange-100 mx-auto pb-40" data-letter="J"><h2 class="overlap font-serif leading-none inline-block p-10 text-4xl text-white italic">J</h2><div class="people flex flex-row flex-wrap"></div></div>
      <div class="letter flex flex-row flex-wrap border-t-6 border-orange-100 mx-auto pb-40" data-letter="K"><h2 class="overlap font-serif leading-none inline-block p-10 text-4xl text-white italic">K</h2><div class="people flex flex-row flex-wrap"></div></div>
      <div class="letter flex flex-row flex-wrap border-t-6 border-orange-100 mx-auto pb-40" data-letter="L"><h2 class="overlap font-serif leading-none inline-block p-10 text-4xl text-white italic">L</h2><div class="people flex flex-row flex-wrap"></div></div>
      <div class="letter flex flex-row flex-wrap border-t-6 border-orange-100 mx-auto pb-40" data-letter="M"><h2 class="overlap font-serif leading-none inline-block p-10 text-4xl text-white italic">M</h2><div class="people flex flex-row flex-wrap"></div></div>
      <div class="letter flex flex-row flex-wrap border-t-6 border-orange-100 mx-auto pb-40" data-letter="N"><h2 class="overlap font-serif leading-none inline-block p-10 text-4xl text-white italic">N</h2><div class="people flex flex-row flex-wrap"></div></div>
      <div class="letter flex flex-row flex-wrap border-t-6 border-orange-100 mx-auto pb-40" data-letter="O"><h2 class="overlap font-serif leading-none inline-block p-10 text-4xl text-white italic">O</h2><div class="people flex flex-row flex-wrap"></div></div>
      <div class="letter flex flex-row flex-wrap border-t-6 border-orange-100 mx-auto pb-40" data-letter="P"><h2 class="overlap font-serif leading-none inline-block p-10 text-4xl text-white italic">P</h2><div class="people flex flex-row flex-wrap"></div></div>
      <div class="letter flex flex-row flex-wrap border-t-6 border-orange-100 mx-auto pb-40" data-letter="Q"><h2 class="overlap font-serif leading-none inline-block p-10 text-4xl text-white italic">Q</h2><div class="people flex flex-row flex-wrap"></div></div>
      <div class="letter flex flex-row flex-wrap border-t-6 border-orange-100 mx-auto pb-40" data-letter="R"><h2 class="overlap font-serif leading-none inline-block p-10 text-4xl text-white italic">R</h2><div class="people flex flex-row flex-wrap"></div></div>
      <div class="letter flex flex-row flex-wrap border-t-6 border-orange-100 mx-auto pb-40" data-letter="S"><h2 class="overlap font-serif leading-none inline-block p-10 text-4xl text-white italic">S</h2><div class="people flex flex-row flex-wrap"></div></div>
      <div class="letter flex flex-row flex-wrap border-t-6 border-orange-100 mx-auto pb-40" data-letter="T"><h2 class="overlap font-serif leading-none inline-block p-10 text-4xl text-white italic">T</h2><div class="people flex flex-row flex-wrap"></div></div>
      <div class="letter flex flex-row flex-wrap border-t-6 border-orange-100 mx-auto pb-40" data-letter="U"><h2 class="overlap font-serif leading-none inline-block p-10 text-4xl text-white italic">U</h2><div class="people flex flex-row flex-wrap"></div></div>
      <div class="letter flex flex-row flex-wrap border-t-6 border-orange-100 mx-auto pb-40" data-letter="V"><h2 class="overlap font-serif leading-none inline-block p-10 text-4xl text-white italic">V</h2><div class="people flex flex-row flex-wrap"></div></div>
      <div class="letter flex flex-row flex-wrap border-t-6 border-orange-100 mx-auto pb-40" data-letter="W"><h2 class="overlap font-serif leading-none inline-block p-10 text-4xl text-white italic">W</h2><div class="people flex flex-row flex-wrap"></div></div>
      <div class="letter flex flex-row flex-wrap border-t-6 border-orange-100 mx-auto pb-40" data-letter="X"><h2 class="overlap font-serif leading-none inline-block p-10 text-4xl text-white italic">X</h2><div class="people flex flex-row flex-wrap"></div></div>
      <div class="letter flex flex-row flex-wrap border-t-6 border-orange-100 mx-auto pb-40" data-letter="Y"><h2 class="overlap font-serif leading-none inline-block p-10 text-4xl text-white italic">Y</h2><div class="people flex flex-row flex-wrap"></div></div>
      <div class="letter flex flex-row flex-wrap border-t-6 border-orange-100 mx-auto pb-40" data-letter="Z"><h2 class="overlap font-serif leading-none inline-block p-10 text-4xl text-white italic">Z</h2><div class="people flex flex-row flex-wrap"></div></div>
    </div>
  </div>
</div>
{{ attach_library('pomona/directory') }}