<a href="{{ sml.url|default('#') }}" class="social-media-link {{ sml.styles|default('bg-yellow-100 text-blue text-center rounded-full') }}">
  <span class="fab {{ sml.icon|default('fa-facebook-f') }}"></span>
  <span class="sr-only">{{ sml.label|default('Facebook')}} </span>
</a>