<address class="address vcard">
<p>
  <span class="fn org visually-hidden">Pomona College</span>
  <span class="adr">
    <span>Mailing Address:</span><br />
    <span class="street-address">333 N. College Way</span><br />
    <span class="locality">Claremont</span>, <span class="region">CA</span> <span class="postal-code">91711</span><br />
  </span>
  <a href="tel:19096218000">(909) 621-8000</a>
  </p>
</address>