{% embed '@with-sidebar' with { major: '3/4', minor: '1/4' } %}
  {% block with_sidebar_main %}
    <h2 class="italic text-orange font-serif font-bold text-3xl mb-20">Work</h2>
    <div class="editorial editorial-main">

      <p>Book: Albert Cohen, Dissonant Voices (Baltimore: The Johns Hopkins University Press, November 2004)</p>
      <p>“Empathy and Contagion in Montaigne, a Neuro-Cognitive Revision” in Montaigne Studies, Vol. XXX, 2018 (forthcoming)</p>
      <p>“Randomness and Narrativity: A Cognitive Reassessment of Fortune and Nonsense in Montaigne’s Essais” in Modern Language Notes, Vol 132, No. 2, 2017 (forthcoming)</p>
      <p>“Montaigne's medieval nominalism and Meschonnic’s ethics of the subject” in Rethinking the New Medievalism (Baltimore: The Johns Hopkins University Press, 2013)</p>
      <p>“Mangeclous et Moishe Pipik: Albert Cohen, Philip Roth et le problématique dédoublement juif” in Cahiers Albert Cohen, No. 22, 2012, 41-66.</p>
      <p>“Le Passeport” in Atelier du Roman, Flammarion (Paris), No. 60, Dec. 2009, 47-57.</p>
      <p>“Thinking about Maupassant’s Le Horla problematically” in Revue Internationale de Philosophie, 242.4, Dec. 2007, 391-413.</p>
      <p>“Albert Cohen, nihiliste juif?” in Perspectives (Hebrew University, Jerusalem), 12, 2005, 87-99.</p>
      <p>"The Eclipse of Desire: L'Affaire Houellebecq" (Review Essay), Modern Language Notes, September 2000, 115. 4, 801-27.</p> 

    </div>
  {% endblock %}
  {% block with_sidebar_aside %}
  {% endblock %}
{% endembed %}
