<p class="more-link" style="Margin: 0; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 150%; margin: 0; padding: 0; text-align: right;">
  <a href="{{ link|default('http://www.example.com') }}" style="Margin: 0; color: #057db0; font-family: Helvetica, Arial, sans-serif; font-weight: bold; line-height: 150%; margin: 0; padding: 0; text-align: left; text-decoration: none; border-bottom: none;">{{ title|default('More…') }} »</a>
</p>
