{% set linkStyle = 'border-bottom: 2px #cfd2aa solid; color: #20438f; font-weight: normal; text-decoration: none;' %}
{% set paraStyle = 'Margin: 0; Margin-bottom: 10px; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 150%; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;' %}
<div class="field field-name-field-accomplishments field-type-paragraphs field-label-hidden quickedit-processed quickedit-field" data-quickedit-field-id="node/67591/field_accomplishments/und/full">
  <div>
    {% block paragraph %}
      {{paragraph|style_injector('a',linkStyle)|style_injector('p',paraStyle) }}
    {% endblock %}
	  <table role="presentation" aria-hidden="true" class="spacer" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
	    <tbody>
		    <tr style="padding: 0; text-align: left; vertical-align: top;">
		      <td height="12px" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-size: 12px; font-weight: normal; hyphens: auto; line-height: 12px; margin: 0; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">&nbsp;</td>
		    </tr>
	    </tbody>
	  </table> 
  </div>
</div> 