<figure class="slide slide--presentation border-b-5 border-blue relative">
  <div>
    {% block slide_media %}
      {% include "@picture" with { width: 1300, height: 732 } only  %}
    {% endblock %}
  </div>
</figure>
