<div class="border-t-6 border-gray bg-white p-25 font-sans" >
  <a class="ln" href="http://www.example.com/">TODD GRAY: Euclidean Gris Gris</a>
  <p class="text-base text-brown-300 mt-20">
    January 3, 2020<br />
    12:00 pm to 5:00 pm<br />
    (view event for more dates)<br />
    Museum of Art<br />
  </p>
</div>
