<form>
  <div class="field--type-string field--name-subject field--widget-string-textfield js-form-wrapper form-wrapper"
    id="edit-subject-wrapper">
    <div class="js-form-item form-item js-form-type-textfield form-item-subject-0-value js-form-item-subject-0-value">
      <label for="edit-subject-0-value" class="js-form-required form-required">Subject</label>
      <input class="js-text-full text-full form-text required" type="text" id="edit-subject-0-value" name="subject[0][value]" value="" size="60" maxlength="100" placeholder="" required="required" aria-required="true">
    </div>
  </div>
  <div class="field--type-language field--name-langcode field--widget-language-select js-form-wrapper form-wrapper" id="edit-langcode-wrapper">
  </div>
  <div class="field--type-string-long field--name-message field--widget-string-textarea js-form-wrapper form-wrapper" id="edit-message-wrapper">
    <div class="js-form-item form-item js-form-type-textarea form-item-message-0-value js-form-item-message-0-value">
      <label for="edit-message-0-value" class="js-form-required form-required">Message</label>
      <div>
        <textarea class="js-text-full text-full form-textarea required" id="edit-message-0-value" name="message[0][value]" rows="12" cols="60" placeholder="" required="required" aria-required="true"></textarea>
      </div>
    </div>
  </div>
  <div class="field--type-datetime field--name-field-date field--widget-datetime-default js-form-wrapper form-wrapper"
    id="edit-field-date-wrapper">
    <fieldset id="edit-field-date-0" class="js-form-item form-item js-form-wrapper form-wrapper">
      <legend>
        <span class="fieldset-legend">Date</span>
      </legend>
      <div class="fieldset-wrapper">
        <div id="edit-field-date-0-value">
          <div
            class="js-form-item form-item js-form-type-date form-item-field-date-0-value-date js-form-item-field-date-0-value-date form-no-label">
            <label for="edit-field-date-0-value-date" class="visually-hidden">Date</label>
            <input title="Date (e.g. 2020-02-05)" type="date" id="edit-field-date-0-value-date"
              name="field_date[0][value][date]" value="" size="12" class="form-date">
          </div>
          <div
            class="js-form-item form-item js-form-type-date form-item-field-date-0-value-time js-form-item-field-date-0-value-time form-no-label">
            <label for="edit-field-date-0-value-time" class="visually-hidden">Time</label>
            <input title="Time (e.g. 12:19:16)" type="time" step="1" id="edit-field-date-0-value-time"
              name="field_date[0][value][time]" value="" size="12" class="form-time">
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <fieldset class="required-fields field-group-fieldset js-form-item form-item js-form-wrapper form-wrapper"
    id="edit-group-fieldset">
    <legend>
      <span class="fieldset-legend">Fieldset</span>
    </legend>
    <div class="fieldset-wrapper">
      <div
        class="field--type-list-string field--name-field-checkboxen field--widget-options-buttons js-form-wrapper form-wrapper"
        id="edit-field-checkboxen-wrapper">
        <fieldset id="edit-field-checkboxen--wrapper"
          class="fieldgroup form-composite js-form-item form-item js-form-wrapper form-wrapper">
          <legend>
            <span class="fieldset-legend">Checkboxen</span>
          </legend>
          <div class="fieldset-wrapper">
            <div id="edit-field-checkboxen" class="form-checkboxes">
              <div
                class="js-form-item form-item js-form-type-checkbox form-item-field-checkboxen-one js-form-item-field-checkboxen-one">
                <input type="checkbox" id="edit-field-checkboxen-one" name="field_checkboxen[One]" value="One"
                  class="form-checkbox">
                <label for="edit-field-checkboxen-one" class="option">One</label>
              </div>
              <div
                class="js-form-item form-item js-form-type-checkbox form-item-field-checkboxen-two js-form-item-field-checkboxen-two">
                <input type="checkbox" id="edit-field-checkboxen-two" name="field_checkboxen[Two]" value="Two"
                  class="form-checkbox">
                <label for="edit-field-checkboxen-two" class="option">Two</label>
              </div>
              <div
                class="js-form-item form-item js-form-type-checkbox form-item-field-checkboxen-three js-form-item-field-checkboxen-three">
                <input type="checkbox" id="edit-field-checkboxen-three" name="field_checkboxen[Three]" value="Three"
                  class="form-checkbox">
                <label for="edit-field-checkboxen-three" class="option">Three</label>
              </div>
              <div
                class="js-form-item form-item js-form-type-checkbox form-item-field-checkboxen-four js-form-item-field-checkboxen-four">
                <input type="checkbox" id="edit-field-checkboxen-four" name="field_checkboxen[Four]" value="Four"
                  class="form-checkbox">
                <label for="edit-field-checkboxen-four" class="option">Four</label>
              </div>
              <div
                class="js-form-item form-item js-form-type-checkbox form-item-field-checkboxen-five js-form-item-field-checkboxen-five">
                <input type="checkbox" id="edit-field-checkboxen-five" name="field_checkboxen[Five]" value="Five"
                  class="form-checkbox">
                <label for="edit-field-checkboxen-five" class="option">Five</label>
              </div>
              <div
                class="js-form-item form-item js-form-type-checkbox form-item-field-checkboxen-six js-form-item-field-checkboxen-six">
                <input type="checkbox" id="edit-field-checkboxen-six" name="field_checkboxen[Six]" value="Six"
                  class="form-checkbox">
                <label for="edit-field-checkboxen-six" class="option">Six</label>
              </div>
              <div
                class="js-form-item form-item js-form-type-checkbox form-item-field-checkboxen-seven js-form-item-field-checkboxen-seven">
                <input type="checkbox" id="edit-field-checkboxen-seven" name="field_checkboxen[Seven]" value="Seven"
                  class="form-checkbox">
                <label for="edit-field-checkboxen-seven" class="option">Seven</label>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </fieldset>
  <fieldset class="required-fields field-group-fieldset js-form-item form-item js-form-wrapper form-wrapper"
    id="edit-group-fieldset-2">
    <legend>
      <span class="fieldset-legend">Fieldset 2</span>
    </legend>
    <div class="fieldset-wrapper">
      <div
        class="field--type-list-string field--name-field-radios field--widget-options-buttons js-form-wrapper form-wrapper"
        id="edit-field-radios-wrapper">
        <fieldset id="edit-field-radios--wrapper"
          class="fieldgroup form-composite js-form-item form-item js-form-wrapper form-wrapper">
          <legend>
            <span class="fieldset-legend">Radios</span>
          </legend>
          <div class="fieldset-wrapper">
            <div id="edit-field-radios">
              <div class="js-form-item form-item js-form-type-radio form-item-field-radios js-form-item-field-radios">
                <input type="radio" id="edit-field-radios-none" name="field_radios" value="_none" class="form-radio">
                <label for="edit-field-radios-none" class="option">N/A</label>
              </div>
              <div class="js-form-item form-item js-form-type-radio form-item-field-radios js-form-item-field-radios">
                <input type="radio" id="edit-field-radios-one" name="field_radios" value="One" class="form-radio">
                <label for="edit-field-radios-one" class="option">One</label>
              </div>
              <div class="js-form-item form-item js-form-type-radio form-item-field-radios js-form-item-field-radios">
                <input type="radio" id="edit-field-radios-two" name="field_radios" value="Two" class="form-radio">
                <label for="edit-field-radios-two" class="option">Two</label>
              </div>
              <div class="js-form-item form-item js-form-type-radio form-item-field-radios js-form-item-field-radios">
                <input type="radio" id="edit-field-radios-three" name="field_radios" value="Three" class="form-radio">
                <label for="edit-field-radios-three" class="option">Three</label>
              </div>
              <div class="js-form-item form-item js-form-type-radio form-item-field-radios js-form-item-field-radios">
                <input type="radio" id="edit-field-radios-four" name="field_radios" value="Four" class="form-radio">
                <label for="edit-field-radios-four" class="option">Four</label>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </fieldset>
  <div
    class="field--type-list-string field--name-field-dropdown field--widget-options-select js-form-wrapper form-wrapper"
    id="edit-field-dropdown-wrapper">
    <div class="js-form-item form-item js-form-type-select form-item-field-dropdown js-form-item-field-dropdown">
      <label for="edit-field-dropdown">Dropdown</label>
      <select id="edit-field-dropdown" name="field_dropdown" class="form-select">
        <option value="_none">- None -</option>
        <option value="One">One</option>
        <option value="Two">Two</option>
        <option value="Three">Three</option>
        <option value="Four">Four</option>
        <option value="Five">Five</option>
        <option value="Six">Six</option>
      </select>
    </div>
  </div>
  <div
    class="field--type-string-long field--name-field-textarea-yo field--widget-string-textarea js-form-wrapper form-wrapper"
    id="edit-field-textarea-yo-wrapper">
    <div
      class="js-form-item form-item js-form-type-textarea form-item-field-textarea-yo-0-value js-form-item-field-textarea-yo-0-value">
      <label for="edit-field-textarea-yo-0-value" class="js-form-required form-required">Textarea yo</label>
      <div>
        <textarea class="js-text-full text-full form-textarea required" id="edit-field-textarea-yo-0-value"
          name="field_textarea_yo[0][value]" rows="5" cols="60" placeholder="" required="required"
          aria-required="true"></textarea>
      </div>
    </div>
  </div>
  <div class="js-form-item form-item js-form-type-checkbox form-item-copy js-form-item-copy">
    <input type="checkbox" id="edit-copy" name="copy" value="1" class="form-checkbox">
    <label for="edit-copy" class="option">Send yourself a copy</label>
  </div>
  <div class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
    <input type="submit" id="edit-submit" name="op" value="Send message"
      class="button button--primary js-form-submit form-submit">
    <input type="submit" id="edit-preview" name="op" value="Preview" class="button js-form-submit form-submit">
  </div>
</form>